<h4>Alunos com Contrato Aceito</h4>

<form action="#" method="POST" class="col s12" enctype="multipart/form-data">
    <h5>Importar CSV</h5>
    <div class="file-field input-field">
        <div class="btn blue darken-1 col s2">
            <span>Escolher Arquivo</span>
            <input type="file" accept=".csv" name="arquivo" id="fileUpload" required="required" value="Arquivo" (change)="importCSV($event)">
        </div>
        <div class="file-path-wrapper col s6">
            <input type="text" class="file-path validate">
        </div>
        <div class="col s2">
            <a class="btn blue darken-1 waves-button-input" (click)="save()">Enviar</a>
        </div>
        <div class="col s2">
            <a class="btn red darken-4 waves-button-input" (click)="delete()">Apagar Tudo</a>
        </div>
    </div>
</form>

<table class="striped">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Campus</th>
            <th>Curso</th>
            <th>Turma</th>
            <th>Aceite Contrato</th>
            <th>Entradas</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of alunos | async">
            <td>{{ a.matricula }}</td>
            <td>{{ a.nome }}</td>
            <td class="center">{{ a.campus }}</td>
            <td>{{ a.curso }}</td>
            <td>{{ a.turma }}</td>
            <td>{{ a.aceite_contrato }}</td>
            <td class="center">{{ 3 - a.entradas }}</td>
            <td>
                <!-- Modal Trigger -->
                <button class="waves-effect waves-light btn blue darken-1 modal-trigger" data-target="modalEditar" (click)="editar(a)">Editar</button>
            </td>
            <td>
                <a class="btn red darken-4" (click)="delete(t.$key)">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>