<h5>Alunos com Contrato Aceito</h5>

<!--<form action="#" method="POST" class="col s12" enctype="multipart/form-data">
    <h5>Importar CSV</h5>
    <div class="file-field input-field">
        <div class="btn blue darken-1 col s2">
            <span>Escolher Arquivo</span>
            <input type="file" accept=".csv" name="arquivo" id="fileUpload" required="required" value="Arquivo" (change)="importCSV($event)">
        </div>
        <div class="file-path-wrapper col s6">
            <input type="text" class="file-path validate">
        </div>
        <div class="col s2">
            <a class="btn blue darken-1 waves-button-input" (click)="save()">Enviar</a>
        </div>
        <div class="col s2">
            <a class="btn red darken-4 waves-button-input" (click)="delete()">Apagar Tudo</a>
        </div>
    </div>
</form>-->

<table class="striped">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Campus</th>
            <th>Curso</th>
            <th>Turma</th>
            <th>Aceite Contrato</th>
            <th>Entradas</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of alunos | async">
            <td>{{ a.matricula }}</td>
            <td>{{ a.nome }}</td>
            <td class="center">{{ a.campus }}</td>
            <td>{{ a.curso }}</td>
            <td class="nowrap">{{ a.turma }}</td>
            <td>{{ a.aceite_contrato | date:'dd/MM/y' }}</td>
            <td class="center">{{ 3 - a.entradas }}</td>
            <td>
                <!-- Modal Trigger -->
                <button class="waves-effect waves-light btn blue darken-1 modal-trigger" data-target="modalEditar" (click)="editar(a)">Editar</button>
            </td>
            <td>
                <a class="btn red darken-4" (click)="delete(t.$key)">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>

<!-- Modal Structure -->
<div class="ng-modal {{ display }}">
    <div id="modalEditar" class="ng-modal-body">
        <div class="modal-title white-text orange darken-4" *ngIf="editAluno">
            {{ editAluno.nome }}
        </div>
        <form #f="ngForm" (ngSubmit)="update(editAluno.$key)">
            <div class="modal-body" *ngIf="editAluno">
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">person</i>
                        <input placeholder="Nome Completo" type="text" name="nome" id="nome" class="validate" required [(ngModel)]="editAluno.nome">
                        <label class="active" data-error="      " for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">code</i>
                        <input placeholder="Matrícula" type="text" name="matricula" id="matricula" class="validate" required [(ngModel)]="editAluno.matricula">
                        <label class="active" data-error="Preenchimento Obrigatório" for="matricula">Matrícula</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">library_books</i>
                        <input placeholder="Curso" type="text" name="curso" id="curso" class="validate" required [(ngModel)]="editAluno.curso">
                        <label class="active" data-error="Preenchimento Obrigatório" for="curso">Curso</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="fa fa-sign-in prefix"></i>
                        <input placeholder="Entradas Restantes" type="number" min="0" max="3" name="entradas" id="entradas" class="validate" required [(ngModel)]="editAluno.entradas">
                        <label class="active" data-error="Preenchimento Obrigatório" for="entradas">Entradas Restantes</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn red darken-4 left" (click)="modalClose()">Cancelar</a>
                <button type="submit" [disabled]="f.invalid" class="modal-action modal-close waves-effect waves-green btn blue darken-1 right">Atualizar</button>
            </div>
        </form>
    </div>
</div>