<h4>Alunos com Contrato Aceito</h4>

<form action="#" method="POST" class="col s12" enctype="multipart/form-data">
    <h5>Importar CSV</h5>
    <div class="file-field input-field">
        <div class="btn">
            <span>Escolher Arquivo</span>
            <input type="file" accept=".csv" name="arquivo" id="fileUpload" required="required" value="Arquivo">
        </div>
        <div class="file-path-wrapper col s4">
            <input type="text" class="file-path validate">
        </div>
        <input class="btn waves-button-input" type="submit" value="Enviar">
    </div>
</form>

<table class="striped">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Campus</th>
            <th>Curso</th>
            <th>Turma</th>
            <th>Aceite Contrato</th>
            <th>Entradas</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>31010004732</td>
            <td>LUCAS BORGES ANTONELLI</td>
            <td class="center"> IESI</td>
            <td> 13701-IESI-SP - CIÊNCIA DA COMPUTAÇÃO</td>
            <td> CC1P01-3101</td>
            <td>08/02/2017</td>
            <td></td>
            <td>
                <a class="btn blue darken-1" href="#">Editar</a>
            </td>
            <td>
                <a class="btn red darken-4" href="#">Apagar</a>
            </td>
        </tr>
        <tr>
            <td>31010004486</td>
            <td>LUIS RICARDO BUSCARIOLI GARDIN</td>
            <td> IESI</td>
            <td> 13701-IESI-SP - CIÊNCIA DA COMPUTAÇÃO</td>
            <td> CC1P01-3101</td>
            <td>05/12/2016</td>
            <td></td>
            <td>
                <a class="btn btn-xs btn-primary" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-xs btn-danger" href="#">Apagar</a>
            </td>
        </tr>
        <tr>
            <td>31010004809</td>
            <td>ANA CAROLINA COUTINHO LOPES</td>
            <td> IESI</td>
            <td> 13901-IESI-SP - ARQUITETURA E URBANISMO</td>
            <td> AU1P01-3101</td>
            <td>15/02/2017</td>
            <td></td>
            <td>
                <a class="btn btn-xs btn-primary" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-xs btn-danger" href="#">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>